
@font-face{
	font-family: 'spaceage';
	src: url('../fonts/spaceage.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;

}


@font-face{
	font-family: 'surfingcapital';
	src: url('../fonts/surfingcapital.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;

}

.bg-purple-light{
    background-color: #a219c5;
}

.bg-purple-dark{
    background-color: black;
}

.form-group{
	text-align:left;
	margin-left:10%;
	margin-right:15%;
}

.btn{
	background-color: transparent;	

}
.btn title{
	font-family:"surfingcapital";
}


.navbar{
  max-width: 100%;
  /*min-width: 77.4em;*/
    width: 90%;
    font-family: "spaceage";
    font-size: 150%;
    left: 12.7em;
    margin-right: 20em;
    height: 4em;
}


.navbar input{
	font-family:"surfingcapital";
}

.navbar button{
	height:60px;
}

.highlights-button {
  display: inline-block;
  padding: 10px 15px 8px;
  cursor: pointer;
  border-radius: 3px;
  border: 1px solid #ccc;
  background-color: #ececec;
  -webkit-transition: background-color 300ms ease-in-out, border-color 300ms ease-in-out;
  transition: background-color 300ms ease-in-out, border-color 300ms ease-in-out;
}

.highlights-button:hover {
  border: 1px solid #ececec;
  background-color: #ccc;
}

.modal {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 10;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: all 0.5s 0.5s ease-in-out;
  transition: all 0.5s 0.5s ease-in-out;
}

.modal-content {
  padding: 10px;
  max-width: 600px;
  min-width: 360px;
  max-height: 85%;
  overflow: auto;
  position: absolute;
  top: 5%;
  left: 50%;
  z-index: 2;
  opacity: 0;
  border-radius: 3px;
  background: #fff;
  -webkit-transform: translate(-50%, 0);
  -ms-transform: translate(-50%, 0);
  transform: translate(-50%, 0);
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

.modal-content img {
  display: block;
  width: 100%;
  margin: 10px 0 0;
}

.modal-content p {
  padding-top: 10px;
  text-align: justify;
}


.modal-close {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0,0,0,0.5);
}

.modal-close:after {
  content: "X";
  float: right;
  margin: 5px 5px 0 0;
  width: 30px;
  height: 30px;
  position: relative;
  z-index: 3;
  text-align: center;
  line-height: 30px;
  cursor: pointer;
  background-color: rgba(255,255,255,0.8);
  border-radius: 20px;
  box-shadow: 0 0 3px #000;
}

input[id*="modal_"] {
  position: fixed;
  left: -9999px;
  top: 50%;
  opacity: 0;
}

input[id*="modal_"]:checked + div.modal {
  opacity: 1;
  visibility: visible;
  -webkit-transition-delay: 0s;
  -ms-transition-delay: 0s;
  transition-delay: 0s;
}

input[id*="modal_"]:checked + div.modal .modal-content {
  opacity: 1;
  -webkit-transform: translate(-50%, 0);
  -ms-transform: translate(-50%, 0);
  transform: translate(-50%, 0);
  -webkit-transition-delay: 0.5s;
  -ms-transition-delay: 0.5s;
  transition-delay: 0.5s;
}

@media screen and (max-width: 767px) {
  .modal-content {
    padding: 10px 5%;
    min-width: 88%;
  }
}

@media (min-width: 576px)
_forms.scss:332
.form-inline .form-control {
    display: inline-block;
    width: 177px;
    vertical-align: middle;
}

.modal-dialog {
    max-width: 500px;
    margin: auto;
}

.modal-backdrop.fade {
    opacity: 0.4;
}

#modal-mensagem{
	margin-top:40px;
}

.modal-header{
	margin-top:90px;	
}

.modal-header img{
width:50px;
height:20px;
bottom:0;	
}

.modal-body{
	margin-top:0px;
}

.modal-header {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding: 10px;
    border-bottom: 1px solid black;
}
    .modal-content {
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    background-color: black;
    background-clip: padding-box;
    border: 1px solid rgba(0,0,0,.2);
    border-radius: .3rem;
    outline: 0;
    top: 90px;
}